:root{
  --accent-color: #81D8D0;
  --background-color: #F1F1F1;
  --text-color: #1F1F1F;
  --column-width: 1024px;
}

html, #__nuxt, #__layout, body, main{
  height: 100%;
}

body{
  color: var(--text-color);
  font-size: 2.7vh;
}

a{
  color: var(--text-color);
}

h1, h2, h3, h4, p{
  font-size: 1em;
  font-weight: normal;
  margin: 0;
}

h2, h3, h4{
  margin-bottom: 1em;
}

h1{
  display: flex;
  height: 1em;
  width: 2em;
}

h1:before{
  border-color: transparent transparent var(--text-color) var(--text-color);
  border-style: solid;
  border-width: 0.5em;
  content: "";
  height: 0;
  width: 0;
}

h1:after{
  border-color: transparent var(--text-color) var(--text-color) var(--text-color);
  border-style: solid;
  border-width: 0.5em;
  content: "";
  height: 0;
  width: 0;
}

h1 span{
  display: none;
}

h2{
  font-size: 1.8em;
}

h3{
  font-size: 1em;
}

h4{
  font-size: 1.2em;
}

p{
  margin: 0 0 1em 0;
}

/* Article */
/* ========== */
article{
  margin: 0 auto;
  width: var(--column-width);
}

/* Header */
/* ========== */
header{
  align-items: center;
  background: var(--background-color);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  height: 4em;
  position: sticky;
  top: 0;
}

header article{
  display: flex;
  justify-content: space-between;
}

header nav{
  display: flex;
}

header nav a{
  color: var(--accent-color);
  margin-left: 1em;
  text-decoration: none;
}

/* Section */
/* ========== */
section article{
  padding: 2em 0 2em 0;
}

/* Intro */
/* ========== */
section#intro{
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 5em);
}

section#intro article a{
  color: var(--accent-color);
}

/* About */
/* ========== */
section#about{
  background: var(--accent-color);
  color: var(--text-color);
}

section#about article h3{
  color: var(--background-color);
}

/* Work */
/* ========== */
section#work{
  background: var(--background-color);
}

section#work article h3{
  color: var(--accent-color);
}

section#work article div#projects{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

section#work article div#projects a{
  display: block;
  filter: grayscale(1.0);
  width: 50%;
}

section#work article div#projects a.project img{
  display: block;
  width: 100%;
}

section#work article div#projects a:hover {
  filter: grayscale(0.0);
}

/* Contact */
/* ========== */
section#contact{
  background: var(--text-color);
  color: var(--background-color);
}

section#contact article a{
  color: var(--background-color);
}

section#contact article nav{
  align-items: center;
  display: flex;
  margin-top: 1.5em;
}

section#contact article nav a{
  text-decoration: none;
  margin-right: 0.8em;
}

/* Mobile */
/* ========== */
@media only screen and (max-width: 750px) {
  :root{
    --column-width: 90vw;
  }

  header nav{
    display: none;
  }

  section#work article div#projects a{
    width: 100%;
  }
}
