:root{
  --column-width: 1024px;
}

html, #__nuxt, #__layout, body, main{
  height: 100%;
}

body{
  font-size: 2.7vh;
}

h1, h2, h3, h4, p{
  font-size: 1em;
  font-weight: normal;
  margin: 0;
}

h2, h3, h4{
  margin-bottom: 1em;
}

h1{
  display: flex;
  height: 1em;
  width: 2em;
}

h1:before{
  border-color: transparent transparent black black;
  border-style: solid;
  border-width: 0.5em;
  content: "";
  height: 0;
  width: 0;
}

h1:after{
  border-color: transparent black black black;
  border-style: solid;
  border-width: 0.5em;
  content: "";
  height: 0;
  width: 0;
}

h1 span{
  display: none;
}

h2{
  font-size: 1.8em;
}

h3{
  font-size: 1em;
}

h4{
  font-size: 1.2em;
}

p{
  margin: 0 0 1em 0;
}

article{
  margin: 0 auto;
  width: var(--column-width);
}

/* Header */
/* ========== */
header{
  align-items: center;
  background: white;
  border-bottom: 1px solid whitesmoke;
  display: flex;
  height: 4em;
  position: sticky;
  top: 0;
}

header article{
  display: flex;
  justify-content: space-between;
}

header nav{
  display: flex;
}

header nav a{
  margin-left: 1em;
}

/* Section */
/* ========== */
section{

}

section article{
  padding: 2em 0 2em 0;
}

/* Intro */
/* ========== */
section#intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 5em);
}

/* About */
/* ========== */
section#about{
  background: whitesmoke;
}

/* Work */
/* ========== */
section#work{

}

/* Contact */
/* ========== */
section#contact{
  background: whitesmoke;
}

/* Mobile */
/* ========== */
@media only screen and (max-width: 750px) {
  :root{
    --column-width: 90vw;
  }

  header nav{
    display: none;
  }
}
